<!DOCTYPE html>
<html>
<head>
    <title>Study Availability</title>
</head>
<body>
    <h2>Select Your Study Availability</h2>

    <form method="POST">

        <h3>Duration</h3>
        Days: <input type="number" name="days" min="1" max="31"><br>
        Weeks: <input type="number" name="weeks" min="1" max="4"><br>
        Months: <input type="number" name="months" min="1" max="3"><br><br>

        <h3>Select Days of the Week</h3>
        <input type="checkbox" name="weekdays" value="Sunday"> Sunday<br>
        <input type="checkbox" name="weekdays" value="Monday"> Monday<br>
        <input type="checkbox" name="weekdays" value="Tuesday"> Tuesday<br>
        <input type="checkbox" name="weekdays" value="Wednesday"> Wednesday<br>
        <input type="checkbox" name="weekdays" value="Thursday"> Thursday<br>
        <input type="checkbox" name="weekdays" value="Friday"> Friday<br>
        <input type="checkbox" name="weekdays" value="Saturday"> Saturday<br><br>

        <button type="submit">Next</button>
    </form>

</body>
</html>
