<!DOCTYPE html>
<html>
<head>
    <title>Planner</title>
</head>
<body>

<h3>Choose your preferences carefully to build an effective and achievable study plan.</h3>

<form method="POST">

<h4>Please choose the subject/course you want to cover</h4>
<input type="checkbox" checked disabled>
Big Data Analytics (4 Credits)

<br><br>

<h4>Select Module</h4>

{% for m in modules %}
    <input type="checkbox" name="modules" value="{{ m }}"
    {% if m|string in selected_modules %} checked {% endif %}>
    Module {{ m }}<br>
{% endfor %}

<br><br>

<h4>Select Topics</h4>

{% if topics %}
    {% for t in topics %}
        <input type="checkbox" name="topics" value="{{ t['TOPIC'] }}"
        {% if t['TOPIC'] in selected_topics %} checked {% endif %}>
        {{ t['TOPIC'] }}
        (Weight: {{ t['WEIGHT'] }}, Hours: {{ t['EST STUDY HOURS'] }})
        <br>
    {% endfor %}
{% else %}
    <p>No topics loaded yet.</p>
{% endif %}

<br>

<button type="submit" name="action" value="load">Load Topics</button>
<button type="submit" name="action" value="generate">Generate Routine</button>


</form>

</body>
</html>
